<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Restful Tasks API
  </h1>
  <button (click)="allTasksClick()">Get All Tasks</button>
  <div *ngIf="tasks" id="allTasks">
    <h2>All the tasks:</h2>
    <div *ngFor="let task of tasks">
      <ul>
        <li>
          {{ task.title }}
          <button (click)="showClick(task._id)">Show</button>
        </li>
      </ul>
    </div>
  </div>
  <app-task *ngIf="one_task" [showClick]="one_task"></app-task> 

      <!-- <div *ngIf="one_task" id="oneTask">
        <p>{{one_task.title}}</p>
        <p>{{one_task.description}}</p>
      </div>
        This was in the original version before nesting
    -->

  <router-outlet></router-outlet>
</div>
